
body{
    background-color: rgb(238, 230, 230);
}
header .container{
    margin: 0 auto;
    max-width: 950px;
    width: 100%;
}

h1{
    display: flex;
    justify-items: center;
    background-color: rgb(96, 96, 226);
    color: white;
    margin-top: 0;
    padding: 50px 0;
    justify-content: center;
}


form{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
}

#result{
    margin-top: 20px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

